<header>
  <h1>Experience the beauty of art like never before.</h1>
  <form action="/search" method="POST">
    <input type="text" name="input" placeholder="Search for an artist..">
    <button type="submit">Search</button>
  </form>
</header>