<body id="detail">
  {{#each kunstwerk}}
    <div class="detail">
      <div class="detailimage">
        <img src="{{this.webImage.url}}1000" alt="" />
      </div>
      <div class="detailtext">
        <h1>{{this.title}}</h1>
        <p>{{this.principalOrFirstMaker}}</p>
      </div>
    </div>
    <div id="overlay"></div>
    <img id="background" src="{{this.webImage.url}}1000" alt="" />
  {{/each}}
  <img
    id="close"
    onclick="history.back()"
    src="https://img.icons8.com/ios-glyphs/90/ffffff/multiply.png"
  />
</body>